#swear {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	line-height: 1;
	text-align: center;
}

footer {
	clear: both;
	padding: 0;
	vertical-align: middle;
	line-height: normal;
	margin: 0;
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: white;
}

#reload {
	position: absolute;
	top: 10px;
	right: 10px;
	float: right;
}
.actions {
	text-align: center;
	background-color: white;
}
.more_info {
	text-align: center;
}
.info {
	background-color: aliceblue;
	margin: 0;
	padding: 1em 1em;
}
ul.info {
	list-style-position: inside;
}
.info a:link,
.info a:visited,
.info a:hover,
.info a:active {
	color: steelblue;
}
