<!doctype html>
<link rel="stylesheet" href="/static/base-min.css">
<link rel="stylesheet" href="/static/style.css">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400' rel='stylesheet' type='text/css'>
<div id="reload">
	<a href="#" id="reload_button"><img src="/static/refresh.svg" width="36" height="32" title="More!"></a>
</div>
<h2 id="swear">{{swear}}</h2>

<footer>
	<div>
		<ul>
			<li>
				Swearing by <a href="https://github.com/judy2k">@judy2k</a>
			</li>
			<li>
				FitText script from <a href="https://github.com/adactio/FitText.js">@adactio</a>
			</li>
			<li>
				Icon made by <a href="http://www.flaticon.com/authors/freepik">Freepik</a> from
				<a href="http://www.flaticon.com/">www.flaticon.com</a>
			</li>
		</ul>
	</div>
</footer>

<script src="/static/fittext.js"></script>
<script>
	window.fitText(document.getElementById("swear"))
	document.getElementById("reload_button").onclick = function(){
		location.reload(true);
	}
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-19887037-1', 'auto');
  ga('send', 'pageview');

</script>
